/* GENERAL STYLES */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #f0f0f0;
}

header {
  background-color: #222;
  color: #fff;
  padding: 30px 0;
}


nav {
  background-color: #333;
  padding: 10px 0;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 50px 20px;
  max-width: 800px;
  margin: auto;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

/* Profile picture */
#profilePic {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

#profilePic:hover {
  transform: scale(1.05);
}

/* Meme image */
#memeImg {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 300px;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  z-index: 1000;
  transition: all 0.5s ease;
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}